<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
  <h2>Skill</h2>
  <form th:object="${skill}" class="row g-3 needs-validation" id="add-skill-form" method="post" novalidate>
    <input th:replace="~{fragments/inputField :: input ('Name', 'name')}" />
    <input th:replace="~{fragments/inputField :: input ('Version', 'version')}" />
    <input th:replace="~{fragments/inputField :: input ('Alias', 'alias')}" />

    <div class="col-12">
      <button th:with="text=${skill['new']} ? 'Add Skill' : 'Update Skill'"
              class="btn btn-primary" type="submit" th:text="${text}">Add Skill</button>
    </div>
  </form>
</body>
</html>
