<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">
    <body>
        <h2>Skill Information</h2>

        <a class="btn btn-primary" th:href="@{/skills/{id}/edit(id=${skill.skillId})}">Edit Skill</a>

        <hr>

        <div class="row g-3" th:object="${skill}">
            <div class="col-md-4">
                <label class="form-label" for="idSkill">Skill</label>
                <input class="form-control" type="text" id="idSkill" th:field="*{name}" disabled>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="idVersion">Version</label>
                <input class="form-control" type="text" id="idVersion" th:field="*{version}" disabled>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="idAlias">Alias</label>
                <input class="form-control" type="text" id="idAlias" th:field="*{alias}" disabled>
            </div>
        </div>

        <hr>

        <th:block th:if="${skill.experiences.size() > 0}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Developer</th>
                    <th>Years</th>
                    <th>Rating</th>
                </tr>
                </thead>
                <tr th:each="exp : ${skill.experiences}">
                    <td><a th:href="@{/developers/__${exp.developer.developerId}__}"
                           th:text="${exp.developer.firstName + ' ' + exp.developer.lastName}">Developer Name</a></td>
                    <td th:text="${exp.years}">years</td>
                    <td>
                        <div th:replace="~{fragments/ratingStars :: stars (${exp.rating})}">2</div>
                    </td>
                </tr>
            </table>
        </th:block>
        <th:block th:if="${skill.experiences.size() == 0}">
            <p><span class="bi bi-emoji-frown"></span> No developer has this skill! Train them!</p>
        </th:block>
    </body>
</html>
