<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">
  <body>
    <h2>Skill Sets</h2>

    <div class="alert alert-primary" role="alert">
        <span class="bi bi-exclamation-circle"> </span>
        Here you can search developers by skill set.<br>
        Common use case: Customer requires one or more developers with skills A, B and C. Who of our developers would match?
    </div>

    <form class="d-flex" th:action="@{/skills/sets}">
        <input id="skillSetSearchInput" class="form-control me-2" type="search" name="skillSetQuery" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            $("#skillSetSearchInput").tokenInput("/skills/json", {
                theme: "bootstrap",
                hintText: "Just start typing for skill names...",
                tokenValue: "name",
                prePopulate: [[${skillSetQuery}]]
            });

            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });
    </script>

    <th:block th:if="${skills.size() > 0}">
        <table id="skillSets" class="table table-striped">
            <thead>
            <tr>
                <th style="width: 20%; font-weight: normal;">
                    <div class="text-muted">
                        Skills: <strong>[[${skills.size()}]]</strong>
                    </div>
                    <div class="text-muted">
                        Developers: <strong>[[${skills.get(0).getExperiences().size()}]]</strong>
                    </div>
                </th>
                <th:block th:each="exp : ${skills.get(0).getExperiences()}">
                    <td>
                        <a th:href="@{/developers/__${exp.developer.developerId}__}"
                           th:text="${exp.developer.getFullName()}"
                           data-bs-toggle="tooltip" data-bs-html="true" th:title="${'weight: ' + exp.developer.getWeightForSkills(skills)}">Developer Name</a>
                        <span th:if="${exp.developer.currentProject != null}" class="bi bi-exclamation-circle text-danger"
                              data-bs-toggle="tooltip" data-bs-html="true" th:title="'in a project until ' + ${exp.developer.currentProject.until}"></span>
                    </td>
                </th:block>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="skill : ${skills}" th:classappend="${skill.getWeight() == 0 ? 'table-danger' : ''}">
                <td>
                    <a th:href="@{/skills/__${skill.getSkillId()}__}" th:text="${skill.nameAndVersion}">Skill V1</a>
                </td>

                <th:block th:each="exp : ${skill.getExperiences()}">
                    <td>
                        <span th:if="${exp.getWeight() > 0}" th:text="${exp.getWeight()}"
                              data-bs-toggle="tooltip" data-bs-html="true" th:title="${exp.getYears() + ' years<br>' + exp.getRating() + ' stars'}">3</span>
                    </td>
                </th:block>
                <td>
                    <span th:text="${skill.getWeight()}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
    <th:block th:unless="${skills.size() > 0}">
        <p class="text-secondary"><span class="bi bi-arrow-up"></span> Start typing for skill names in this search bar and hit ENTER to search</p>
    </th:block>

  </body>
</html>
