<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">
    <body>
        <h2>Skill Information</h2>

        <a class="btn btn-primary" th:href="@{/skills/{id}/edit(id=${skill.skillId})}">Edit Skill</a>

        <hr>

        <table class="table table-striped" th:object="${skill}">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td th:text="*{name}">Skill 1</td>
                </tr>
                <tr>
                    <th>Version</th>
                    <td th:text="*{version}">Skill Version 1</td>
                </tr>
                <tr>
                    <th>Alias</th>
                    <td th:text="*{alias}">Alias</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Developer</th>
                    <th>Years</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tr th:each="exp : ${skill.experiences}">
                <td><a th:href="@{/developers/__${exp.developer.developerId}__}"
                       th:text="${exp.developer.firstName + ' ' + exp.developer.lastName}">Developer Name</a></td>
                <td th:text="${exp.years}">years</td>
                <td>
                    <div th:replace="~{fragments/ratingStars :: stars (${exp.rating})}">2</div>
                </td>
            </tr>
        </table>
    </body>
</html>
