<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">
  <body>
    <h2>Skills</h2>

    <details class="text-secondary">
        <summary class="bi bi-exclamation-circle"> Info</summary>
        <p>Here we have a list of all our skills and their top 3 experts. Want to find something quickly? Use the search box at the top right!</p>
    </details>
    <hr>

    <a class="btn btn-primary" th:href="@{/skills/new}">Add Skill</a>

    <hr>

    <div th:if="${totalPages > 1}">
        <div class="row col-12">
            <div class="col-3">
                Total: <strong>[[${totalItems}]]</strong>
            </div>
            <div class="col-9">
                <nav>
                    <ul class="pagination pagination-sm justify-content-end">
                        <li th:each="i: ${#numbers.sequence(0, totalPages - 1)}"
                            class="page-item" th:classappend="${currentPage == i ? 'active' : ''}">
                            <a class="page-link" th:href="@{'/skills/page/' + ${i} + '?sort-field=name&sort-dir=' + ${sortDir}}">[[${i+1}]]</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <table id="skills" class="table table-striped">
        <thead>
            <tr>
                <th style="width: 30%;">
                    <a th:href="@{'/skills/page/' + ${currentPage} + '?sort-field=name&sort-dir=' + ${reverseSortDir}}">Name </a>
                    <th:block th:switch="${sortDir}">
                        <span th:case="'asc'" class="bi bi-arrow-up"></span>
                        <span th:case="'desc'" class="bi bi-arrow-down"></span>
                    </th:block>
                </th>
                <th style="width: 20%;">Alias</th>
                <th style="width: 50%;">Top 3 Experts</th>
            </tr>
        </thead>
        <tbody>
          <tr th:each="skill : ${skills}">
              <td>
                  <a th:href="@{/skills/__${skill.getSkillId()}__}" th:text="${skill.getNameAndVersion()}">Skill 1</a>
              </td>
              <td th:text="${skill.alias}">Alias</td>

              <td>
                  <th:block th:if="${skill.topThreeExperts().size() > 0}">
                      <table id="top-experts" class="table table-striped">
                          <thead>
                          <tr>
                              <th style="width: 60%;">Developer</th>
                              <th style="width: 20%;">Years</th>
                              <th style="width: 20%;">Rating</th>
                          </tr>
                          </thead>
                          <tr th:each="exp : ${skill.topThreeExperts()}">
                              <td><a th:href="@{/developers/__${exp.developer.developerId}__}"
                                     th:text="${exp.developer.getFullName()}">Developer Name</a></td>
                              <td th:text="${exp.years}">13</td>
                              <td>
                                  <div th:replace="~{fragments/ratingStars :: stars (${exp.rating})}">4</div>
                              </td>
                          </tr>
                      </table>
                  </th:block>
              </td>
          </tr>
        </tbody>
    </table>


  </body>
</html>
