<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'skills')}">
  <body>
    <h2>Skills</h2>
    <table id="skills" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 40%;">Name</th>
            <th style="width: 10%;">Version</th>
            <th style="width: 50%;">Top 3 Experts</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="skill : ${skills}">
              <td>
                  <a th:href="@{/skills/__${skill.getSkillId()}__}" th:text="${skill.name}">Skill 1</a>
              </td>
              <td th:text="${skill.version}">Version 33</td>

              <td>
                  <table id="top-experts" class="table table-striped">
                      <thead>
                          <tr>
                              <th style="width: 60%;">Developer</th>
                              <th style="width: 20%;">Years</th>
                              <th style="width: 20%;">Rating</th>
                          </tr>
                      </thead>
                      <tr th:each="exp : ${skill.topThreeExperts()}">
                          <td><a th:href="@{/developers/__${exp.developer.developerId}__}"
                                 th:text="${exp.developer.firstName + ' ' + exp.developer.lastName}">Developer Name</a></td>
                          <td th:text="${exp.years}">13</td>
                          <td th:text="${exp.rating}">4</td>
                      </tr>
                  </table>
              </td>
          </tr>
        </tbody>
    </table>
  </body>
</html>
