<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
  <h2 th:text="${developer.getFullName()}">Developer Name</h2>

  <div class="card mb-2">
    <h6 class="card-header d-flex justify-content-between align-items-center">
      Current Project
    </h6>
    <div class="card-body">
      <form th:object="${projectDTO}" id="add-developer-form" method="post" novalidate
            class="row g-3 needs-validation">

        <div class="row g-3">
          <div class="col-md-4">
            <input th:replace="~{fragments/inputField :: input ('Name', 'name')}" />
          </div>
          <div class="col-md-4">
            <input th:replace="~{fragments/inputField :: input ('Since (yyyy-mm)', 'since')}" />
          </div>
          <div class="col-md-4">
            <input th:replace="~{fragments/inputField :: input ('Until (yyyy-mm)', 'until')}" />
          </div>
          <div class="col-12">
            <button th:with="text=${projectDTO['new']} ? 'Add Project' : 'Update Project'"
                    class="btn btn-primary" type="submit" th:text="${text}">Add Project</button>
          </div>

          <th:block th:if="${#fields.hasGlobalErrors()}">
            <ul style="list-style-type: none;">
              <li class="alert alert-danger" role="alert" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
            </ul>
          </th:block>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
