<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'developers')}">

<body>

  <h2>Developer</h2>
  <form th:object="${developer}" class="form-horizontal" id="add-developer-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Title', 'title', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${developer['new']} ? 'Add Developer' : 'Update Developer'"
          class="btn btn-default" type="submit" th:text="${text}">Add Developer</button>
      </div>
    </div>
  </form>
</body>
</html>
