<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body})}">

<body>
  <h2>Developer</h2>

  <form th:object="${developer}" id="add-developer-form" method="post" novalidate>
    <input th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
    <input th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
    <input th:replace="~{fragments/inputField :: input ('Title', 'title', 'text')}" />

    <button th:with="text=${developer['new']} ? 'Add Developer' : 'Update Developer'"
            class="btn btn-primary" type="submit" th:text="${text}">Add Developer</button>
  </form>
</body>
</html>
