<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'developers')}">
    <body>
        <h2>Developer Information</h2>
        <table class="table table-striped" th:object="${developer}">
            <tr>
                <th>First Name</th>
                <td th:text="*{firstName}">Developer First Name 1</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td th:text="*{lastName}">Developer LastName 1</td>
            </tr>
            <tr>
                <th>Title</th>
                <td th:text="*{title}">Dr.</td>
            </tr>
        </table>

        <table class="table table-striped">
            <thead>
                <th>Skill</th>
                <th>Version</th>
                <th>years</th>
                <th>rating (x of 5)</th>
            </thead>
            <tr th:each="exp : ${developer.experiences}">
                <td th:text="${exp.skill.name}">Skill</td>
                <td th:text="${exp.skill.version}">Skill Version</td>
                <td th:text="${exp.years}">years</td>
                <td th:text="${exp.rating}">rating</td>
            </tr>
        </table>
    </body>
</html>
