<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
    <h2 th:text="${developer.getFullName()}">Developer Information</h2>

    <div class="card mb-2">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            Details
            <a class="btn btn-sm btn-primary" th:href="@{/developers/{id}/edit(id=${developer.developerId})}">Edit</a>
        </h5>
        <div class="card-body" th:object="${developer}">
            <div class="row g-3">
                <div class="col-md-4">
                    <label class="form-label" for="idFirstName">First Name</label>
                    <input class="form-control" type="text" id="idFirstName" th:field="*{firstName}" disabled>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="idLastName">Last Name</label>
                    <input class="form-control" type="text" id="idLastName" th:field="*{lastName}" disabled>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="idTitle">Title</label>
                    <input class="form-control" type="text" id="idTitle" th:field="*{title}" disabled>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-2">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            Current Project
            <a class="btn btn-sm btn-primary"
               th:with="text=${developer.hasProject()} ? 'Edit' : 'Add'"
               th:text="${text}"
               th:href="@{/developers/{id}/edit(id=${developer.developerId})}"
            >Edit</a>
        </h5>
        <div class="card-body" th:object="${developer.currentProject}">
            <th:block th:if="${developer.hasProject()}">
                <div class="row g-3 pt-2">
                    <div class="col-md-4">
                        <label class="form-label" for="idCurrentProjectName">Name</label>
                        <input class="form-control" type="text" id="idCurrentProjectName" th:field="*{name}" disabled>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="idCurrentProjectSince">since</label>
                        <input class="form-control" type="text" id="idCurrentProjectSince" th:field="*{since}" disabled>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="idCurrentProjectUntil">until</label>
                        <input class="form-control" type="text" id="idCurrentProjectUntil" th:field="*{until}" disabled>
                    </div>
                </div>
            </th:block>
            <th:block th:unless="${developer.hasProject()}">
                <div class="alert alert-danger" role="alert">
                    <span class="bi bi-emoji-neutral"></span> Developer has no current project! Find one for him!
                </div>
            </th:block>
        </div>
    </div>

    <div class="card mb-2">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            Skills
        </h5>
        <div class="card-body">
            <th:block th:if="${developer.experiences.size() > 0}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width: 70%;">Skill</th>
                        <th style="width: 15%;">Years</th>
                        <th style="width: 10%;">Rating</th>
                        <th style="width: 5%;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="exp : ${developer.experiences}">
                        <td><a th:href="@{/skills/__${exp.skill.skillId}__}"
                               th:text="${exp.skill.getNameAndVersion()}">Skill 1</a></td>
                        <td th:text="${exp.years}">years</td>
                        <td>
                            <div th:replace="~{fragments/ratingStars :: stars (${exp.rating})}">2</div>
                        </td>
                        <td>
                            <a class="btn btn-danger" th:href="@{/experience/delete/__${exp.experienceId}__}">
                                <span class="bi bi-trash"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </th:block>
            <th:block th:if="${developer.experiences.size() == 0}">
                <div class="alert alert-danger" role="alert">
                    <span class="bi bi-emoji-neutral"></span> Developer has no skills assigned yet!
                </div>
            </th:block>
            <hr>

            <th:block th:if="${skillSelectItems.size() > 0}">
                <form th:action="@{/experience/__${developer.developerId}__/new}" th:object="${experience}"
                      class="row g-3 needs-validation"
                      novalidate id="add-experience-form" method="post">

                    <div class="col-md-4">
                        <input th:replace="~{fragments/selectField :: select ('Skill + Version', 'skill', ${skillSelectItems})}" />
                    </div>
                    <div class="col-md-4">
                        <input th:replace="~{fragments/inputField :: input ('Years', 'years')}" />
                    </div>
                    <div class="col-md-4">
                        <input th:replace="~{fragments/selectField :: select ('Rating', 'rating', ${ratings})}" />
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Add Skill</button>
                    </div>
                </form>
            </th:block>
            <th:block th:if="${skillSelectItems.size() == 0}">
                <p><span class="bi bi-emoji-smile"></span> Developer has all skills assigned! Awesome!</p>
            </th:block>
        </div>
    </div>

</body>
</html>
