<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
<h2>Developers</h2>

<p class="text-secondary">Here we have a list of all our developers and their top 3 skills. Want to find someone quickly? Use the search box at the top right!</p>

<a class="btn btn-primary" th:href="@{/developers/new}">Add Developer</a>

<hr>

<table id="developers" class="table table-striped">
    <thead>
        <tr>
            <th style="width: 40%;">Name</th>
            <th style="width: 10%;">Title</th>
            <th style="width: 50%;">Top 3 Skills</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="developer : ${developers}">
            <td>
                <a th:href="@{/developers/__${developer.getDeveloperId()}__}"
                   th:text="${developer.getFullName()}">Developer 1</a>
            </td>
            <td th:text="${developer.title}">Dr.</td>
            <td>
                <th:block th:if="${developer.topThreeExperiences().size() > 0}">
                    <table id="top-skills" class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 60%;">Skill</th>
                            <th style="width: 20%;">Years</th>
                            <th style="width: 20%;">Rating</th>
                        </tr>
                        </thead>
                        <tr th:each="exp : ${developer.topThreeExperiences()}">
                            <td><a th:href="@{/skills/__${exp.skill.skillId}__}"
                                   th:text="${exp.skill.getNameAndVersion()}">Skill 1</a></td>
                            <td th:text="${exp.years}">12</td>
                            <td>
                                <div th:replace="~{fragments/ratingStars :: stars (${exp.rating})}">4</div>
                            </td>
                        </tr>
                    </table>
                </th:block>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
