<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">

<body>
    <h2>Developer Information</h2>

    <a class="btn btn-primary" th:href="@{/developers/{id}/edit(id=${developer.developerId})}">Edit Developer</a>

    <hr>

    <table class="table table-striped" th:object="${developer}">
        <tr>
            <th>First Name</th>
            <td th:text="*{firstName}">Developer First Name 1</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td th:text="*{lastName}">Developer LastName 1</td>
        </tr>
        <tr>
            <th>Title</th>
            <td th:text="*{title}">Dr.</td>
        </tr>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Skill</th>
                <th>Version</th>
                <th>years</th>
                <th>rating (x of 5)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="exp : ${developer.experiences}">
                <td><a th:href="@{/skills/__${exp.skill.skillId}__}"
                       th:text="${exp.skill.name}">Skill 1</a></td>
                <td th:text="${exp.skill.version}">Skill Version</td>
                <td th:text="${exp.years}">years</td>
                <td th:text="${exp.rating}">rating</td>
                <td>
                    <a class="btn btn-danger" th:href="@{/experience/delete/__${exp.experienceid}__}">
                        <span class="bi bi-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <hr>

    <th:block th:if="${skillSelectItems.size() > 0}">
        <form th:action="@{/experience/__${developer.developerId}__/new}" th:object="${newExperience}" class="form-horizontal" id="add-experience-form" method="post">
            <div class="form-group has-feedback">
                <input th:replace="~{fragments/selectField :: select ('Skill + Version', 'skill', ${skillSelectItems})}" />
                <input th:replace="~{fragments/inputField :: input ('Years', 'years', 'text')}" />
                <input th:replace="~{fragments/selectField :: select ('Rating', 'rating', ${ratings})}" />
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" type="submit">Add Skill</button>
                </div>
            </div>
        </form>
    </th:block>
    <th:block th:if="${skillSelectItems.size() == 0}">
        <th:text>developer has no free skills left!</th:text>
    </th:block>

</body>
</html>
