<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
<h2 class="d-flex justify-content-between align-items-center">
    Developers
    <a class="btn btn-sm btn-primary" th:href="@{/developers/new}">Add Developer</a>
</h2>

<details class="text-secondary">
    <summary class="bi bi-exclamation-circle"> Info</summary>
    <p>Here we have a list of all our developers and their top 3 skills. Want to find someone quickly? Use the search box at the top right!</p>
</details>

<hr>

<div th:if="${totalPages > 1}">
    <div class="row col-12">
        <div class="col-3">
            Total: <strong>[[${totalItems}]]</strong>
        </div>
        <div class="col-9">
            <nav>
                <ul class="pagination pagination-sm justify-content-end">
                    <li th:each="i: ${#numbers.sequence(0, totalPages - 1)}"
                        class="page-item" th:classappend="${currentPage == i ? 'active' : ''}">
                        <a class="page-link" th:href="@{'/developers/page/' + ${i} + '?sort-field=lastName&sort-dir=' + ${sortDir}}">[[${i+1}]]</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<table id="developers" class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%;">
                <a th:href="@{'/developers/page/' + ${currentPage} + '?sort-field=lastName&sort-dir=' + ${reverseSortDir}}">Name </a>
                <th:block th:switch="${sortDir}">
                    <span th:case="'asc'" class="bi bi-arrow-up"></span>
                    <span th:case="'desc'" class="bi bi-arrow-down"></span>
                </th:block>
            </th>
            <th style="width: 10%;">Title</th>
            <th style="width: 10%;">Project</th>
            <th style="width: 50%;">Top 3 Skills</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="developer : ${developers}">
            <td>
                <a th:href="@{/developers/__${developer.getDeveloperId()}__}"
                   th:utext="${developer.getFullName()}">Developer 1</a>
            </td>

            <td th:text="${developer.title}">Dr.</td>

            <td th:text="${developer.hasProject() ? developer.currentProject.name : ''}">Project</td>

            <td>
                <th:block th:if="${developer.topThreeExperiences().size() > 0}">
                    <table id="top-skills" class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 60%;">Skill</th>
                            <th style="width: 20%;">Years</th>
                            <th style="width: 20%;">Rating</th>
                        </tr>
                        </thead>
                        <tr th:each="exp : ${developer.topThreeExperiences()}">
                            <td><a th:href="@{/skills/__${exp.skill.skillId}__}"
                                   th:text="${exp.skill.getNameAndVersion()}">Skill 1</a></td>
                            <td th:text="${exp.years}">12</td>
                            <td>
                                <div th:replace="~{fragments/ratingStars :: stars (${exp.rating})}">4</div>
                            </td>
                        </tr>
                    </table>
                </th:block>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
