<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">
  <body>
    <h2>Welcome</h2>
    <div class="row">
        <div class="col-md-12">
            <p class="text-secondary">Welcome to SkillMatrix!</p>
            <p class="text-secondary">Here developers of a company can enter and rate their skills.
                Each developer will enter a number of years and a self assessed rating of 1 star
                (something like: 'I have heard about it' to 5 stars (something like: 'I have done
                this for what seems like forever and I know everything about it').</p>
            <p class="text-secondary">Other people can search for skills and see which person has these skills.</p>
        </div>
        <th:block th:if="${showWarning}">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <span class="bi bi-exclamation-circle"></span> This is a TEST environment! Data will NOT be saved and might be lost!
                </div>
            </div>
        </th:block>
    </div>
  </body>
</html>